
@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
html, body { 
  font-family: "Roboto", sans-serif;
  background: url(../img/city.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size:  cover;
}

a:link, a:active {
  text-decoration: none;
}
.center {
  text-align: center;
}

.left {
  text-align: left;
}

nav.navbar {
  background: transparent;
}

text {
  font-size: 12px;
  cursor: pointer;
}

path {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

.well {
  background: rgb(0,0,0);
  background: rgba(250, 250, 250, 0.9);
-moz-border-radius: 25px 10px / 10px 25px;
border-radius: 25px 10px / 10px 25px;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
  opacity: 0.5;
}

.light{
  font-weight: 200;
}

.big {
  font-size: 24px; 
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #fff;
  color: #555;
  /*border-radius: 2px;*/
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  -moz-border-radius: 10px 10px / 10px 10px;
  border-radius: 10px 10px / 10px 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #fff;
  content: "\25BC";
  position: absolute;
  text-align: center;
  text-shadow: #888 0.1em 0.1em 0.2em;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

nav.navbar {
  border-width: 0px;
  background: transparent;
}

.navbar-default .dropdown-menu {
  background: #fff;
}

/*.navbar-default .dropdown-menu li,*/
.navbar-default .dropdown-menu>li>a,
.navbar-default .dropdown-menu li:focus {
  color: #555;  
  background: #fff;
}