/* 


MAY


*/
body {
  background-color: #f7f7f7;
  font-family: "Open Sans",sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  color: #01256e;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0.65em 0 .67em;
}

#numbersHeader {
  padding-top: 1100px;
  font-size: 48px;
}

h3 {
  color: #01256e;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0.65em 0 .67em;
}

h4 {
  border: 1px solid #01256e;
  border-radius: 4px;
}

h4, #h4div {
  color: #95001a;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0.65em 0 .67em;
}

#dollarValue {
  color: #01256e;
  font-size: 72px;
  font-weight: 300;
  margin: 0.65em 0 .67em;
}

#iord {
  color: #95001a;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0.65em 0 .67em;
  padding-bottom: 100px;
}

span {
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart {
  margin-left: 100px;
}

#barChart span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChart span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChart a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChart {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChart span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChart a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1 {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1 span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1 a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#bubbleChart {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChart {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChart g.row text {
  fill: black;
}


/* RHS */
#barChart12 {
  padding-top: 80px;
}

#bubbleChart2 {
  padding-top: 80px;
}

#rowChart2 {
  padding-top: 80px;
}
#rowChart2 g.row text {
  fill: black;
}

/* Angular Stuff */
ul {
  list-style-type: none;
}

#chartsText {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1 {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabs {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1 {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

#months {
  position: absolute;
  top: 20px;
  left: 120px;
  text-decoration: none;
  font-weight: bold;
}

.tab:hover, .month:hover {
  text-decoration: none;
}

.month {
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
}

#overview {
  position: absolute;
  top: -6px;
  left: 1120px;
  text-decoration: none;
}

/* Background */
#img {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  top: 150px;
  left: 500px;
}

#stats {
  text-align: center;
}

/* Button */
.btn-geckoboard {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-outline {
  color: #01256e;
  background-color: transparent;
  border-color: #01256e;
}

.btn-geckoboard:hover {
  background-color: #01256e;
  color: #eee9e9;
  text-decoration: none;
}

/* Timeline */
#timeline {
  margin:40px;
}

.stepwizard-step p {
    margin-top: 10px;    
}

.process-row {
    display: table-row;
}

.process {
    display: table;     
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;
    
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #01256e;
  color: #eee9e9;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
}


/* 


JANURARY


*/
#barChartJ {
  margin-left: 100px;
}

#barChartJ span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartJ a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartJ span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartJ a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartJ {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartJ span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartJ a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1J {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1J span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1J a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#bubbleChartJ {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartJ {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartJ g.row text {
  fill: black;
}


/* RHS */
#barChart12J {
  padding-top: 80px;
}

#bubbleChart2J {
  padding-top: 80px;
}

#rowChart2J {
  padding-top: 80px;
}
#rowChart2J g.row text {
  fill: black;
}

#chartsTextJ {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1J {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsJ {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1J {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* 


FEBRUARY


*/
#barChartF {
  margin-left: 100px;
}

#barChartF span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartF a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartF span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartF a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartF {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartF span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartF a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1F {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1F span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1F a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#bubbleChartF {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartF {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartF g.row text {
  fill: black;
}

/* RHS */
#barChart12F {
  padding-top: 80px;
}

#bubbleChart2F {
  padding-top: 80px;
}

#rowChart2F {
  padding-top: 80px;
}
#rowChart2F g.row text {
  fill: black;
}

#chartsTextF {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1F {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsF {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1F {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* 


MARCH


*/
#barChartM {
  margin-left: 100px;
}

#barChartM span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartM a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartM span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartM a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartM {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartM span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartM a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1M {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1M span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1M a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}
#bubbleChartM {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartM {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartM g.row text {
  fill: black;
}

/* RHS */
#barChart12M {
  padding-top: 80px;
}

#bubbleChart2M {
  padding-top: 80px;
}

#rowChart2M {
  padding-top: 80px;
}
#rowChart2M g.row text {
  fill: black;
}

#chartsTextM {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1M {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsM {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1M {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* 


APRIL


*/
#barChartA {
  margin-left: 100px;
}

#barChartA span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartA a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartA span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartA a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartA {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartA span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartA a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1A {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1A span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1A a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}
#bubbleChartA {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartA {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartA g.row text {
  fill: black;
}

/* RHS */
#barChart12A {
  padding-top: 80px;
}

#bubbleChart2A {
  padding-top: 80px;
}

#rowChart2A {
  padding-top: 80px;
}
#rowChart2A g.row text {
  fill: black;
}

#chartsTextA {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1A {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsA {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1A {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* Overview */
path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.legend {
  cursor: pointer;
}

.monthlyProcess {
  padding-top: 40px;
}

/* Numbers */
.semester {
    margin-left: 0px;
    font-style: italic;
    font-family: "Open Sans",sans-serif;   
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    color: #01256e;
}

.classA {
    margin-right: 10px;
    margin-left: -10px;
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}

dl {
    width: 20%;
    font-family: "Open Sans", sans-serif;
}

dt {
    line-height: 1.25;
    font-size: 32px; /* 60px */
    font-weight: 300;
    text-align: center;
    color: #01256e;    
    padding-bottom: 15px;
}

.class {
    font-weight: 300;
}

dd {
    text-align: center;
    color: #44464b;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.semesterBorder {
    border: 1px solid #95001a;
    border-radius: 4px;
}

.spring {
    padding-top: 50px;
}

#aFix {
    margin-right: 0px;
    margin-left: 0px;
}

#janDollars, #febDollars, #marDollars, #aprDollars, #mayDollars {
  font-size: 18px;
  color: #95001a;
}

#overviewHeader {
  font-size: 42px;
  margin-top: -20px;
  margin-bottom: -40px;
}

.legend {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.inputPercent {
  padding-top: 50px;
  padding-bottom: 200px;
}

#textForInput {
  color: #01256e;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

#textForInput a {
  color: #95001a;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

#textForInput a:hover {
  text-decoration: none;
}

#totalCostForYear {
  text-align: center;
  color: #01256e;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 40px;
}

.totalDollars {
  color: #95001a;
}

#savings {
  padding-top: 50px;
  font-size: 32px;
  margin-bottom: -40px;
}

.returnedText {
  color: #01256e;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

#container {
  padding-top: 20px;
}