body {
  background-color: #eee9e9;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

/*ul > li > a {
    background-color: black;
}*/

#barChartM {
  margin-left: 100px;
}

#barChartM span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartM a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartM span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartM a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartM {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartM span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartM a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1M {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1M span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1M a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}
#bubbleChartM {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartM {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartM g.row text {
  fill: black;
}

/* RHS */
#barChart12M {
  padding-top: 80px;
}

#bubbleChart2M {
  padding-top: 80px;
}

#rowChart2M {
  padding-top: 80px;
}
#rowChart2M g.row text {
  fill: black;
}

/* Angular Stuff */
ul {
  list-style-type: none;
}

/*li .angular {
  position: relative;
  display: inline-block;
}
*/

#chartsTextM {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1M {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsM {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1M {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* Background */
#img {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  top: 150px;
  left: 500px;
}