body {
  background-color: #eee9e9;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

/*ul > li > a {
    background-color: black;
}*/

#barChartF {
  margin-left: 100px;
}

#barChartF span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartF a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartF span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartF a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartF {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartF span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartF a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1F {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1F span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1F a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#bubbleChartF {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartF {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartF g.row text {
  fill: black;
}

/* RHS */
#barChart12F {
  padding-top: 80px;
}

#bubbleChart2F {
  padding-top: 80px;
}

#rowChart2F {
  padding-top: 80px;
}
#rowChart2F g.row text {
  fill: black;
}

/* Angular Stuff */
ul {
  list-style-type: none;
}

/*li .angular {
  position: relative;
  display: inline-block;
}
*/

#chartsTextF {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1F {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsF {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1F {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* Background */
#img {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  top: 150px;
  left: 500px;
}