body {
  background-color: #eee9e9;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

/*ul > li > a {
    background-color: black;
}*/

#barChartJ {
  margin-left: 100px;
}

#barChartJ span {
  position: absolute;
  top: 80px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChartJ a {
  position: absolute;
  top: 80px;
  left: 292px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#lineChartJ span {
  position: absolute;
  top: 80px;
  right: 524px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#lineChartJ a {
  position: absolute;
  top: 80px;
  right: 488px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* Big Chart */
#pieChartJ {
  padding-top: 40px;
  margin-left: 100px;
}

#pieChartJ span {
  position: absolute;
  top: 395px;
  left: 160px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#pieChartJ a {
  position: absolute;
  top: 395px;
  left: 244px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

/* LHS */
#barChart1J {
  padding-top: 80px;
  margin-left: 100px;
}

#barChart1J span {
  position: absolute;
  top: 415px;
  left: 670px;
  color: #01256e;
  font-weight: 300;
  line-height: 1.25;
}

#barChart1J a {
  position: absolute;
  top: 415px;
  left: 745px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.25;
  color: gray;
}

#bubbleChartJ {
  padding-top: 80px;
  margin-left: 100px;
}

#rowChartJ {
  padding-top: 80px;
  margin-left: 100px;
}
#rowChartJ g.row text {
  fill: black;
}


/* RHS */
#barChart12J {
  padding-top: 80px;
}

#bubbleChart2J {
  padding-top: 80px;
}

#rowChart2J {
  padding-top: 80px;
}
#rowChart2J g.row text {
  fill: black;
}

/* Angular Stuff */
ul {
  list-style-type: none;
}

/*li .angular {
  position: relative;
  display: inline-block;
}
*/

#chartsTextJ {
  position: absolute;
  top: 826px;
  left: 160px;
  font-weight: bold;
}

#chartsText1J {
  position: absolute;
  top: 826px;
  right: 506px;
  font-weight: bold;
}

#tabsJ {
  position: absolute;
  top: 825px;
  left: 348px;
  font-weight: 300;
  line-height: 1.25;
}

#tabs1J {
  position: absolute;
  top: 825px;
  right: 108px;
  font-weight: 300;
  line-height: 1.25;
}

/* Background */
#img {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  top: 150px;
  left: 500px;
}