@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.line {
  fill: none;
  stroke: rgb(90, 255, 90);
  stroke-width: 2;
}

.area {
	fill: rgba(167, 255, 167, 0.6);
;
}