<!DOCTYPE html>
<html>
  <head>
  	<title>Bar Graph</title>
	<meta charset="utf-8">

  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/app1.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/app1.js') }}"></script>
  </body>
</html>