<!DOCTYPE html>
<html ng-app="chart">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <title>Enertiv</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <body ng-app="info">
    <div id="img">
      <img src="{{ url_for('static', filename='img/enertiv.svg') }}">
    </div>

    <h1>Energy Monitoring Dashboard</h1>

    <section ng-controller="MonthController as month">
      <ul class="nav-pills" id="months">
        <li ng-class="{ active: month.isSet(1) }">
          <a class="month" href ng-click="month.setMonth(1)">January</a></li>
        <li ng-class="{ active: month.isSet(2) }">
          <a class="month" href ng-click="month.setMonth(2)">February</a></li>
        <li ng-class="{ active: month.isSet(3) }">
          <a class="month" href ng-click="month.setMonth(3)">March</a></li>
        <li ng-class="{ active: month.isSet(4) }">
          <a class="month" href ng-click="month.setMonth(4)">April</a></li>
        <li ng-class="{ active: month.isSet(5) }">
          <a class="month" href ng-click="month.setMonth(5)">May</a></li>
        <li ng-class="{ active: month.isSet(6) }">
          <a class="month" id="overview" href ng-click="month.setMonth(6)">Overview</a></li>
      </ul>

      <div ng-show="month.isSet(1)">
            <div id="barChartJ">
              <span>Total usage per day</span>
              <a class="reset" href="javascript:barChartJ.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="lineChartJ">
              <span>Total cost per day</span>
              <a class="reset" href="javascript:lineChartJ.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="pieChartJ">
              <span>Total Usage</span>
              <a class="reset" href="javascript:bubbleChart1J.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="chartsTextJ">
              <span>Total usage per room</span>
            </div>

            <div id="chartsText1J">
              <span>Total cost per room</span>
            </div>

            <section ng-controller="TabController as tab">
              <ul class="nav-pills" id="tabsJ">
                <li ng-class="{ active: tab.isSet(1) }">
                  <a class="tab" href ng-click="tab.setTab(1)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                  <a class="tab" href ng-click="tab.setTab(2)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                  <a class="tab" href ng-click="tab.setTab(3)">Row Graph</a></li>
              </ul>

              <div ng-show="tab.isSet(1)">
                <div id="barChart1J"></div>
              </div>

              <div ng-show="tab.isSet(2)">
                <div id="bubbleChartJ"></div>
              </div>

              <div ng-show="tab.isSet(3)">
                <div id="rowChartJ"></div>
              </div>
            </section>

            <section ng-controller="TabController1 as tab">
              <ul class="nav-pills" id="tabs1J">
                <li ng-class="{ active: tab.isSet(4) }">
                  <a class="tab" id="ba1" href ng-click="tab.setTab(4)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(5) }">
                  <a class="tab" id="bu1" href ng-click="tab.setTab(5)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(6) }">
                  <a class="tab" id="ro1" href ng-click="tab.setTab(6)">Row Graph</a></li>
              </ul>
              
              <div ng-show="tab.isSet(4)">
                <div id="barChart12J"></div>
              </div>

              <div ng-show="tab.isSet(5)">
                <div id="bubbleChart2J"></div>
              </div>

              <div ng-show="tab.isSet(6)">
                <div id="rowChart2J"></div>
              </div>
            </section>

            <h1 id="numbersHeader">This month's energy usage by the numbers</h1>
            <div class="container">
              <div id="stats">
                <section ng-controller="ButtonController as button">
                  <ul id="buttonStyle">
                      <a class="btn-geckoboard btn-outline btn-lg href" ng-click="button.setButton(1)">Monthly Cost</a>
                      <a class="btn-geckoboard btn-outline btn-lg" ng-click="button.setButton(2)">Monthly Usage</a>
                  </ul>
                    
                  <div ng-show="button.isSet(1)">
                    <h3>Total Cost: $<span id="totalCostJan"></span></h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyCostJan"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul>
                          <li id="dollarValue">$00.00</li>
                          <li id="iord">increase from last month</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div ng-show="button.isSet(2)"> 
                    <h3>Total Usage: <span id="totalKwJan"></span> kW</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyKwJan"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul>
                          <li id="dollarValue">00.00 kW</li>
                          <li id="iord">increase from last month</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
      </div>

      <div ng-show="month.isSet(2)">
            <div id="barChartF">
              <span>Total usage per day</span>
              <a class="reset" href="javascript:barChartF.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="lineChartF">
              <span>Total cost per day</span>
              <a class="reset" href="javascript:lineChartF.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="pieChartF">
              <span>Total Usage</span>
              <a class="reset" href="javascript:bubbleChart1F.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="chartsTextF">
              <span>Total usage per room</span>
            </div>

            <div id="chartsText1F">
              <span>Total cost per room</span>
            </div>

            <section ng-controller="TabController as tab">
              <ul class="nav-pills" id="tabsF">
                <li ng-class="{ active: tab.isSet(1) }">
                  <a class="tab" href ng-click="tab.setTab(1)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                  <a class="tab" href ng-click="tab.setTab(2)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                  <a class="tab" href ng-click="tab.setTab(3)">Row Graph</a></li>
              </ul>

              <div ng-show="tab.isSet(1)">
                <div id="barChart1F"></div>
              </div>

              <div ng-show="tab.isSet(2)">
                <div id="bubbleChartF"></div>
              </div>

              <div ng-show="tab.isSet(3)">
                <div id="rowChartF"></div>
              </div>
            </section>

            <section ng-controller="TabController1 as tab">
              <ul class="nav-pills" id="tabs1F">
                <li ng-class="{ active: tab.isSet(4) }">
                  <a class="tab" id="ba1" href ng-click="tab.setTab(4)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(5) }">
                  <a class="tab" id="bu1" href ng-click="tab.setTab(5)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(6) }">
                  <a class="tab" id="ro1" href ng-click="tab.setTab(6)">Row Graph</a></li>
              </ul>
              
              <div ng-show="tab.isSet(4)">
                <div id="barChart12F"></div>
              </div>

              <div ng-show="tab.isSet(5)">
                <div id="bubbleChart2F"></div>
              </div>

              <div ng-show="tab.isSet(6)">
                <div id="rowChart2F"></div>
              </div>
            </section>

            <h1 id="numbersHeader">This month's energy usage by the numbers</h1>
            <div class="container">
              <div id="stats">
                <section ng-controller="ButtonController as button">
                  <ul id="buttonStyle">
                      <a class="btn-geckoboard btn-outline btn-lg href" ng-click="button.setButton(1)">Monthly Cost</a>
                      <a class="btn-geckoboard btn-outline btn-lg" ng-click="button.setButton(2)">Monthly Usage</a>
                  </ul>
                    
                  <div ng-show="button.isSet(1)">
                    <h3>Total Cost: $<span id="totalCostFeb"></span></h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyCostFeb"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="janFebCost">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div ng-show="button.isSet(2)"> 
                    <h3>Total Usage: <span id="totalKwFeb"></span> kW</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyKwFeb"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="janFebKw">
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
      </div>

      <div ng-show="month.isSet(3)">
            <div id="barChartM">
              <span>Total usage per day</span>
              <a class="reset" href="javascript:barChartM.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="lineChartM">
              <span>Total cost per day</span>
              <a class="reset" href="javascript:lineChartM.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="pieChartM">
              <span>Total Usage</span>
              <a class="reset" href="javascript:bubbleChart1M.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="chartsTextM">
              <span>Total usage per room</span>
            </div>

            <div id="chartsText1M">
              <span>Total cost per room</span>
            </div>

            <section ng-controller="TabController as tab">
              <ul class="nav-pills" id="tabsM">
                <li ng-class="{ active: tab.isSet(1) }">
                  <a class="tab" href ng-click="tab.setTab(1)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                  <a class="tab" href ng-click="tab.setTab(2)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                  <a class="tab" href ng-click="tab.setTab(3)">Row Graph</a></li>
              </ul>

              <div ng-show="tab.isSet(1)">
                <div id="barChart1M"></div>
              </div>

              <div ng-show="tab.isSet(2)">
                <div id="bubbleChartM"></div>
              </div>

              <div ng-show="tab.isSet(3)">
                <div id="rowChartM"></div>
              </div>
            </section>

            <section ng-controller="TabController1 as tab">
              <ul class="nav-pills" id="tabs1M">
                <li ng-class="{ active: tab.isSet(4) }">
                  <a class="tab" id="ba1" href ng-click="tab.setTab(4)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(5) }">
                  <a class="tab" id="bu1" href ng-click="tab.setTab(5)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(6) }">
                  <a class="tab" id="ro1" href ng-click="tab.setTab(6)">Row Graph</a></li>
              </ul>
              
              <div ng-show="tab.isSet(4)">
                <div id="barChart12M"></div>
              </div>

              <div ng-show="tab.isSet(5)">
                <div id="bubbleChart2M"></div>
              </div>

              <div ng-show="tab.isSet(6)">
                <div id="rowChart2M"></div>
              </div>
            </section>

            <h1 id="numbersHeader">This month's energy usage by the numbers</h1>
            <div class="container">
              <div id="stats">
                <section ng-controller="ButtonController as button">
                  <ul id="buttonStyle">
                      <a class="btn-geckoboard btn-outline btn-lg href" ng-click="button.setButton(1)">Monthly Cost</a>
                      <a class="btn-geckoboard btn-outline btn-lg" ng-click="button.setButton(2)">Monthly Usage</a>
                  </ul>
                    
                  <div ng-show="button.isSet(1)">
                    <h3>Total Cost: $<span id="totalCostMar"></span></h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyCostMar"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="febMarCost">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div ng-show="button.isSet(2)"> 
                    <h3>Total Usage: <span id="totalKwMar"></span> kW</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyKwMar"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="febMarKw">
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
      </div>

      <div ng-show="month.isSet(4)">
            <div id="barChartA">
              <span>Total usage per day</span>
              <a class="reset" href="javascript:barChartA.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="lineChartA">
              <span>Total cost per day</span>
              <a class="reset" href="javascript:lineChartA.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="pieChartA">
              <span>Total Usage</span>
              <a class="reset" href="javascript:bubbleChart1A.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="chartsTextA">
              <span>Total usage per room</span>
            </div>

            <div id="chartsText1A">
              <span>Total cost per room</span>
            </div>

            <section ng-controller="TabController as tab">
              <ul class="nav-pills" id="tabsA">
                <li ng-class="{ active: tab.isSet(1) }">
                  <a class="tab" href ng-click="tab.setTab(1)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                  <a class="tab" href ng-click="tab.setTab(2)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                  <a class="tab" href ng-click="tab.setTab(3)">Row Graph</a></li>
              </ul>

              <div ng-show="tab.isSet(1)">
                <div id="barChart1A"></div>
              </div>

              <div ng-show="tab.isSet(2)">
                <div id="bubbleChartA"></div>
              </div>

              <div ng-show="tab.isSet(3)">
                <div id="rowChartA"></div>
              </div>
            </section>

            <section ng-controller="TabController1 as tab">
              <ul class="nav-pills" id="tabs1A">
                <li ng-class="{ active: tab.isSet(4) }">
                  <a class="tab" id="ba1" href ng-click="tab.setTab(4)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(5) }">
                  <a class="tab" id="bu1" href ng-click="tab.setTab(5)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(6) }">
                  <a class="tab" id="ro1" href ng-click="tab.setTab(6)">Row Graph</a></li>
              </ul>
              
              <div ng-show="tab.isSet(4)">
                <div id="barChart12A"></div>
              </div>

              <div ng-show="tab.isSet(5)">
                <div id="bubbleChart2A"></div>
              </div>

              <div ng-show="tab.isSet(6)">
                <div id="rowChart2A"></div>
              </div>
            </section>

            <h1 id="numbersHeader">This month's energy usage by the numbers</h1>
            <div class="container">
              <div id="stats">
                <section ng-controller="ButtonController as button">
                  <ul id="buttonStyle">
                      <a class="btn-geckoboard btn-outline btn-lg href" ng-click="button.setButton(1)">Monthly Cost</a>
                      <a class="btn-geckoboard btn-outline btn-lg" ng-click="button.setButton(2)">Monthly Usage</a>
                  </ul>
                    
                  <div ng-show="button.isSet(1)">
                    <h3>Total Cost: $<span id="totalCostApr"></span></h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyCostApr"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="marAprCost">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div ng-show="button.isSet(2)"> 
                    <h3>Total Usage: <span id="totalKwApr"></span> kW</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyKwApr"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="marAprKw">
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
      </div>

      <div ng-show="month.isSet(5)">
            <div id="barChart">
              <span>Total usage per day</span>
              <a class="reset" href="javascript:barChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="lineChart">
              <span>Total cost per day</span>
              <a class="reset" href="javascript:lineChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="pieChart">
              <span>Total Usage</span>
              <a class="reset" href="javascript:bubbleChart1.filterAll();dc.redrawAll();" style="display: none;">reset</a>
            </div>

            <div id="chartsText">
              <span>Total usage per room</span>
            </div>

            <div id="chartsText1">
              <span>Total cost per room</span>
            </div>

            <section ng-controller="TabController as tab">
              <ul class="nav-pills" id="tabs">
                <li ng-class="{ active: tab.isSet(1) }">
                  <a class="tab" href ng-click="tab.setTab(1)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                  <a class="tab" href ng-click="tab.setTab(2)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                  <a class="tab" href ng-click="tab.setTab(3)">Row Graph</a></li>
              </ul>

              <div ng-show="tab.isSet(1)">
                <div id="barChart1"></div>
              </div>

              <div ng-show="tab.isSet(2)">
                <div id="bubbleChart"></div>
              </div>

              <div ng-show="tab.isSet(3)">
                <div id="rowChart"></div>
              </div>
            </section>

            <section ng-controller="TabController1 as tab">
              <ul class="nav-pills" id="tabs1">
                <li ng-class="{ active: tab.isSet(4) }">
                  <a class="tab" id="ba1" href ng-click="tab.setTab(4)">Bar Graph</a></li>
                <li ng-class="{ active: tab.isSet(5) }">
                  <a class="tab" id="bu1" href ng-click="tab.setTab(5)">Bubble Chart</a></li>
                <li ng-class="{ active: tab.isSet(6) }">
                  <a class="tab" id="ro1" href ng-click="tab.setTab(6)">Row Graph</a></li>
              </ul>
              
              <div ng-show="tab.isSet(4)">
                <div id="barChart12"></div>
              </div>

              <div ng-show="tab.isSet(5)">
                <div id="bubbleChart2"></div>
              </div>

              <div ng-show="tab.isSet(6)">
                <div id="rowChart2"></div>
              </div>
            </section>


            <h1 id="numbersHeader">This month's energy usage by the numbers</h1>
            <div class="container">
              <div id="stats">
                <section ng-controller="ButtonController as button">
                  <ul id="buttonStyle">
                      <a class="btn-geckoboard btn-outline btn-lg href" ng-click="button.setButton(1)">Monthly Cost</a>
                      <a class="btn-geckoboard btn-outline btn-lg" ng-click="button.setButton(2)">Monthly Usage</a>
                  </ul>
                    
                  <div ng-show="button.isSet(1)">
                    <h3>Total Cost: $<span id="totalCost"></span></h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyCost"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="toMayCost">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div ng-show="button.isSet(2)"> 
                    <h3>Total Usage: <span id="totalKw"></span> kW</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <h4 id="monthlyKw"></h4>
                      </div>
                      <div class="col-md-8">
                        <ul id="toMayKw">
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
      </div>

      <div ng-show="month.isSet(6)" id="timeline">
        <h1 id="overviewHeader">This Year's Cost</h1>
        <div id="monthlyDataCost"></div>

        <div class="container monthlyProcess">
          <div class="row semesterBorder">
            <div class="classA">
              <dl>
                <dt class="class">January</dt>
                <dd id="janDollars"></dd>
              </dl>
              <dl>
                <dt class="class">February</dt>
                <dd id="febDollars"></dd>
              </dl>
              <dl>
                <dt class="class">March</dt>
                <dd id="marDollars"></dd>
              </dl>
              <dl>
                <dt class="class">April</dt>
                <dd id="aprDollars"></dd>
              </dl>
              <dl>
                <dt class="class">May</dt>
                <dd id="mayDollars"></dd>
              </dl>
            </div>
            <div id="totalCostForYear"></div>
          </div>

          <h1 id="savings">What would your cost be with a decrease in usage?</h1>
          
          <div class="row inputPercent">
            <div id="textForInput">Percent decrease in usage: <input type="text" id="member" name="member" value="">
              <a href="#" id="filldetails" onclick="addFields()">Calculate</a>
            </div>
            <div class="returnedText" id="container"></div>
          </div>
        </div>
      </div>

    </section>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/crossfilter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dc.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dc.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
<html>