<html>
	<head>
	<title>Chart</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
	</head>
	<body>
		<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/example.js') }}"></script>

		<script>
			var margin = {top: 5, right: 40, bottom: 20, left: 120},
			    width = 960 - margin.left - margin.right,
			    height = 50 - margin.top - margin.bottom;

			var chart = d3.bullet()
			    .width(width)
			    .height(height);

			d3.json("/location/data?location_uuid=8639f0e6-1623-4e60-8164-a853fb807917&q_string=fromTime%3D2015-05-27 08:00:00Z%26toTime%3D2015-05-27 19:00:00Z%26interval%3Dmin%26aggregate%3dfalse%26data_format%3Drickshaw", function(error, data) {

			  //The bars
			  var svg = d3.select("body").selectAll("svg")
			      .data(data)
			      .enter().append("svg")
			      .attr("class", "bullet")
			      .attr("width", width + margin.left + margin.right)
			      .attr("height", height + margin.top + margin.bottom)
			      .append("g")
			      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
			      .call(chart);

			  //Side text
			  var title = svg.append("g")
			      .style("text-anchor", "end")
			      .attr("transform", "translate(-6," + height / 2 + ")");

			  title.append("text")
			      .attr("class", "title")
			      .text(function(d) { return d.sublocation_name; });

			  title.append("text")
			      .attr("class", "subtitle")
			      .attr("dy", "1em")
			      .text(function(d) { return d.equipment_type; });

			  d3.selectAll("button").on("click", function() {
			    svg.datum(randomize).call(chart.duration(1000));
			  });
			});

			function randomize(d) {
			  if (!d.randomizer) d.randomizer = randomizer(d);
			  d.ranges = d.ranges.map(d.randomizer);
			  d.markers = d.markers.map(d.randomizer);
			  d.measures = d.measures.map(d.randomizer);
			  return d;
			}

			function randomizer(d) {
			  var k = d3.max(d.ranges) * .2;
			  return function(d) {
			    return Math.max(0, d + k * (Math.random() - .5));
			  };
			}
		</script>
	</body>
</html>