<html>
	<head>
	<title>Enertiv</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	</head>
	<body>
		<a href="/trendCharts"><button type="button" class="btn btn-info">Trend Charts</button></a>
		<p></p>
		<a href="/barGraph"><button type="button" class="btn btn-info">Bar Graph</button></a>
		<p></p>
		<a href="/pieChart"><button type="button" class="btn btn-info">Pie Chart</button></a>
		<p></p>
		<a href="/dashboard"><button type="button" class="btn btn-primary">Dashboard</button></a>
		<p></p>
		<a href="/workInProgress"><button type="button" class="btn btn-primary">Work In Progress</button></a>
	</body>
</html>