<!DOCTYPE html>
<html>
  <head>
  	<title>Pie Chart</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app2.css') }}">
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app2.js') }}"></script>
  </body>
</html>