<html>
	<head>
	<title>Trend Charts</title>
		<meta charset="utf-8">
		<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	</head>
	<body>
	</body>
</html>