<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Chart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3magic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/demo.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>